@mixin TitleStyle {
  font-size: 14px;
  max-width: 30px;
  margin: 0 30px 0 0;
  font-weight: 400;
  white-space: nowrap;
}

@mixin boxStyle {
  border-radius: 40px;
  border: 2px solid #a2a09e;
  height: 35px;
  font-size: 14px;
  line-height: 15px;
  padding-left: 20px;
  width: 200px;
}

.services {
  font-family: "Lato", sans-serif;
  background-color: #f1edea;
  margin-top: 80px;
  text-align: center;
  padding: 52px 50px;
  position: relative;

  & .servicesBrowse {
    font-size: 13px;
    text-align: center;
    color: #45413e;
    margin-bottom: 20px;

    & span {
      color: #84bc22;
    }

    & span:nth-child(2) {
      color: #45413e;
    }
  }

  & .servicesHead {
    text-align: center;
    font-size: 48px;
    color: #45413e;
    margin-bottom: 50px;
    font-weight: 900;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #fff;
      height: 2px;
      width: 400px;
      top: 32px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #fff;
      height: 2px;
      width: 400px;
      top: 32px;
      right: 0;
    }
  }

  & .hideSort {
    margin: 0 auto 30px;
    border: none;
    color: #84bc22;
    background-color: transparent;
    display: none;

    &:focus {
      outline: none;
    }
  }

  & .serviceSorting {
    background-color: #fff;
    padding: 30px 30px 0;
    border-radius: 7px;
    display: flex;
    justify-content: space-between !important;

    & .sortPrice {
      max-width: 260px;

      & .priceRange {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        & .priceName {
          @include TitleStyle();
        }

        & .Dropdown-control {
          @include boxStyle();
        }
      }

      & .colorPicker {
        display: flex;
        align-items: center;

        & .colorName {
          @include TitleStyle();
        }

        & .circle-picker {
          & span {
            & div {
              height: 15px !important;
              width: 15px !important;
              margin-right: 10px !important;
            }
            &:nth-last-child(n + 9) {
              display: none;
            }
          }
        }
      }
    }
  }
}
//End

//Media Querry

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .services {
    & .servicesHead {
      &:before {
        width: 200px;
      }

      &:after {
        width: 200px;
      }
    }

    & .serviceSorting {
      flex-direction: column;
      align-items: center;
    }
  }

  .colorPicker {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .services {
    padding: 52px 20px;

    & .servicesHead {
      font-size: 30px;
      &:before {
        width: 50px;
        top: 20px;
      }

      &:after {
        width: 50px;
        top: 20px;
      }
    }

    & .hideSort {
      display: block;
    }

    & .serviceSorting {
      flex-direction: column;
      align-items: center;
    }
  }

  .colorPicker {
    margin-bottom: 30px;
  }

  .serviceCardContainer {
    flex-direction: column;
    align-items: center;

    & #card:nth-last-child(n + 5) {
      display: none;
    }
  }
}

// More Service Items

.moreServices {
  padding: 40px 0 30px;
  text-align: center;
  font-family: "Lato", sans-serif;

  & .moreServiceTitle {
    color: #686360;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
  }
}

.serviceCardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#card,
#cardNoOverlay {
  margin: 15px 0;
  border-radius: 5px !important;
}

#card:hover #cardOverlay {
  display: block;
}

#prodDescribe {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #45413e;
}

#prodPrice {
  padding-top: 10px;
  color: #011847;
  font-size: 14px;
}

#groupBtn {
  font-family: "Lato", sans-serif;

  & #groupPrice {
    font-family: "Lato", sans-serif;
    border-radius: 40px 0 0 40px;
    border-width: 1px;
    color: #24c36c;
    border-width: 2px;
    font-size: 14px;
  }

  & #buyNow {
    font-family: "Lato", sans-serif;
    border-radius: 0 40px 40px 0;
    color: #000000;
    border-width: 2px;
    font-size: 14px;
    box-sizing: border-box;

    &:hover {
      background-color: #24c36c;
      border-color: #45413e;
      color: #ffffff;
    }
  }
}

//Green Overlay
#cardOverlay {
  display: none;
  background-color: rgba(53, 201, 131, 0.5);
  position: absolute;
  height: inherit;
  padding: 0 21px;
  width: 270px;
  left: 0;
  top: 0;

  & #overlayBtn {
    margin: 0 11px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    box-sizing: border-box;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);

    & #overlayIcon {
      height: 30px;
      width: 30px;
      color: #23c46e;
      font-weight: 700;
    }

    & #overlayFav {
      height: 30px;
      width: 30px;
      color: #e73c68;
      font-weight: 700;
    }
  }
}

//Load MoreButton
#showMore {
  width: 155px;
  color: #ffffff;
  border: 2px solid #a2a09e;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 100px;
  background-color: #84bc22;

  &:focus{
    outline: unset !important;
  }

  &:hover {
    background-color: #fff;
    border: 2px solid #45413e;
    color: #84bc22;
  }
}
