.ProductSection {
  padding: 90px 55px;
  background-color: #262a32;
  text-align: center;
  font-family: "Lato", sans-serif;

  & .popularTitle {
    color: #ffffff;
    font-size: 24px;
    font-weight: 900;
    position: relative;
    margin-bottom: 25px;

    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #3c4047;
      height: 2px;
      width: 457px;
      top: 15px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #3c4047;
      height: 2px;
      width: 457px;
      top: 15px;
      right: 0;
    }
  }
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#card,
#cardNoOverlay {
  margin: 15px 0;
  border-radius: 5px !important;
}

#card:hover #cardOverlay {
  display: block;
}

#prodDescribe {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #45413e;
}

#prodPrice {
  padding-top: 10px;
  color: #011847;
  font-size: 14px;
}

#groupBtn {
  font-family: "Lato", sans-serif;

  & #groupPrice {
    font-family: "Lato", sans-serif;
    border-radius: 40px 0 0 40px;
    border-width: 1px;
    color: #24c36c;
     border-width: 2px;
    font-size: 14px;
  }

  & #buyNow {
    font-family: "Lato", sans-serif;
    border-radius: 0 40px 40px 0;
    color: #000000;
    border-width: 2px;
    font-size: 14px;
    box-sizing: border-box;

    &:hover{
      background-color: #24c36c;
    border-color: #45413e;
    color: #ffffff;
    }
  }
}

//Green Overlay
#cardOverlay {
  display: none;
  background-color: rgba(53, 201, 131, 0.5);
  position: absolute;
  height: inherit;
  padding: 0 21px;
  width: 270px;
  left: 0;
  top: 0;

  & #overlayBtn {
    margin: 0 11px;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    box-sizing: border-box;
    background-color: #ffffff;
    top: 50%;
    transform: translateY(-50%);

    &:focus{
      outline: unset !important;
    }

    & #overlayIcon {
      height: 30px;
      width: 30px;
      color: #23c46e;
      font-weight: 700;
    }

    & #overlayFav {
      height: 30px;
      width: 30px;
      color: #e73c68;
      font-weight: 700;
    }
  }
}

//Load MoreButton
#loadMore {
  width: 268px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 40px;

  &:hover{
    background-color: #24c36c;
    border: 2px solid #45413e;
    color: #262a32;
  }

  &:focus{
    outline: unset;
  }
}

// Disablled card

.disableCardTextBlock {
  text-align: left !important;
  max-width: 133px;
  color: #ffffff;
  position: absolute;
  z-index: 9;
  bottom: 20px;
  left: 30px;

  & .disableText {
    font-size: 16px;
    line-height: 25px;
  }

  & .chatIconGroup {
    display: flex;
    align-items: flex-start;

    & .timeAgo {
      margin: 10px 0 0 10px;
    }
  }
}

//Disabled card overlay Gradien

.gradienOverlay {
  height: 367px;
  width: 270px;
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(202, 100, 138, 0.5),
    rgba(113, 101, 151, 0.5)
  );
  left: 0;
  top: 0;
}


//PopularMobile
.popularMobile{
   display: none;
  background-color: #262a32;
  padding: 32px 15px 26px;
  height: 509px;
  text-align: center;

  & .popularTitle {
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    position: relative;
    margin-bottom: 5px;
    
    &::before {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #3c4047;
      height: 2px;
      width: 68px;
      top: 15px;
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      display: inline-block;
      background-color: #3c4047;
      height: 2px;
      width: 68pxpx;
      top: 15px;
      right: 0;
    }
  }
}

//Media Queriy

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .popularTitle::before,
  .popularTitle::after {
    width: 222px !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .ProductSection {
    display: none;
  }

  .popularTitle {
    margin-bottom: 25px !important;
  }

  .popularTitle::before,
  .popularTitle::after {
    width: 50px !important;
  }

  .cardContainer {
    flex-direction: column;
    align-items: center !important;
  }

  .popularMobile{
    display: block;

    & .slick-list{
      margin: unset;
    }

    & .slick-slider{
      text-align: -webkit-center;
    }
  }
}
