#modalBtn{
    border: 0;
    background-color: unset;

    &:focus{
        outline: none;
        border: 0;
    }
}

.modal-open .modal {
    font-family: "Lato", sans-serif;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  position: fixed;
  text-align: center;

  & #form {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 7px;
    background-color: #ffffff;

    & #formGroup {
      text-align: left;
    }

    & .signIn {
      text-align: center;
      font-weight: 30px;
      font-weight: 900;
    }

    & #input {
      position: relative;
      border-radius: 18px !important;
      border: 2px solid #d7d7d7;
    }

    & #forgotBtn {
      border: 0;
      background-color: unset;
      color: #c6e098;
      float: right;
      font-size: 14px;
    }

    & #loginBtn {
      width: 187px;
      border-radius: 18px;
      margin: 30px 0 20px;
      box-sizing: border-box;
    }

    & #noAccountBtn {
      border: 0;
      background-color: unset;
      color: #c6e098;
      font-size: 14px;
      margin: 0 auto;
      display: block;
    }
  }
}

.btn-outline-secondary {
  border-radius: 18px;
  border: 0;
  z-index: 9999;
  position: absolute !important;
  right: 3%;

  &:hover {
    background-color: unset;
    color: unset;
    border: 0;

    &:focus {
      outline: none;
      box-shadow: unset;
      border: 0;
    }

    &:active {
      background-color: unset !important;
      border: 0 !important;
    }
  }
}

.form-control {
  border-radius: 18px;
}

.input-group>.form-control:not(:last-child){
    border-radius: 18px;
    z-index: 0;
}
